:root {
    --primario: #FBF0DA;
    --secondario: #F1AB86;
    --terzo: #C57B57;
    --quarto: #1E2D2F;
    --quinto: #073635;
}

/* font-family: 'Mukta', sans-serif;
font-family: 'Numans', sans-serif;
font-family: 'Taviraj', serif; */

body {
    background: rgb(251, 240, 218);
    background: linear-gradient(130deg, rgba(251, 240, 218, 1) 0%, rgba(241, 171, 134, 0.65) 100%);
}

nav {
    margin-top: 35px;
    border-top: solid 4px var(--terzo);
    border-radius: 50px 0 20px 10px;
    background: rgb(30, 45, 47);
    background: linear-gradient(94deg, rgba(30, 45, 47, 1) 0%, rgba(7, 54, 53, 0.8575805322128851) 100%);
}

.colorText {
    color: var(--terzo) !important;
}

.logo{
    width: 20%;
}

a,
.colorTextDD {
    color: var(--quinto);
    text-decoration: none;
}

.colorTextDD:hover {
    color: var(--terzo);
}

.SectionFoot1 {
    border-radius: 75px 70px 0px 0px;
    background-color: var(--quinto);
}

.SectionFoot2 {
    background-color: var(--quarto);
    color: var(--primario) !important
}

footer {
    border-top: solid 4px var(--terzo);
    border-radius: 75px 70px 0px 0px;

}

.titoli {
    font-family: 'Taviraj', serif;
}

.OurCards {
    width: 350px;
    height: 450px;
    margin: 15px;
    border-top: 10px solid var(--quarto);
}

.OurCards:hover {
    transition: 0.5s ease-in;
    height: 480px;
    width: 370px;
}

.HoverFooter:hover {
    color: var(--terzo);
}